body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(122, 240, 100, 0.5), rgba(255, 255, 255, 0.8))
}


header .icons {
    position: relative;
    display: flex;
    align-items: center;
    left: 60%;
    margin-left: 8%;
}

header .icons:hover {
    cursor: pointer;
}

header .icons > input {
    border-radius: 5px;
    border: 2px solid gainsboro;
    width: 28rem;
    height: 1.8rem;
    font-size: 1.2rem;
    margin: 5px;
}

header .icons > input:focus {
    background: rgba(255, 255, 255, 0.6);
}

header .icons i {
    margin: 2px;
}

header > .welcome {

}

header > .welcome > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .welcome > div > h3 {
    margin-left: 10px;
    margin-right: 20rem;
    font-size: 25px;
}

header > .welcome > .button {
    display: flex;
    justify-content: flex-end;
    right: 60%;
    top: 0%;
}

header > .welcome > .button > button {
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(228, 142, 100, 0.98);
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
    width: 85px;
}

header > .welcome > .button > button:hover {
    cursor: pointer;
    background-color: rgba(228, 142, 100, 0.89);
}


.sidebar {
   top: 0%;
   width: 20%;
   height: 100%;
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   background-image: linear-gradient(90deg, rgba(122, 240, 100, 0.5), rgba(255, 255, 255, 0.5))
}

.sidebar:hover {
   background-image: linear-gradient(90deg, rgba(122, 240, 100, 0.9), rgba(0, 0, 0, 0.015))
}

.sidebar > .dashboard {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sidebar > .dashboard > i {
   margin-right: 10px;
   margin-left: 15px;
}

.sidebar > .preferences {
   margin-top: 100px;
   margin-right: 10px;
   margin-left: 10px;
}

.sidebar > .preferences > div {
    display: flex;
    align-items: center;     
}

.sidebar > .preferences > div > i {
    margin-right: 10px;
}

.sidebar > .settings {
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.sidebar > .settings > div {
    display: flex;
    align-items: center;     
}

.sidebar > .settings > div > i {
    margin-right: 10px;
}


.container {
    position: absolute;
    left: 25%;
    display: grid;
}