body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .icons {
    position: relative;
}

header .icons > input {
    border-radius: 5px;
    border: 1px solid gainsboro;
    width: 28rem;
    height: 1.8rem;
}